:root {
    --yellow-color: yellow;
    --grey-color: rgb(180, 180, 180);
}

.enlace2 {
    text-decoration: none;
}

.agregar-estilos {
    padding: 4px;
    color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.eventos-flujo div{
    width: 40%;    
    padding: 50px;
    color: black;
    display: grid;
    place-items: center;
}

.uno {
    background-color: aqua;
}
.dos {
    background-color: rgb(30, 255, 0);
}
.tres {
    background-color: rgb(187, 255, 0);
}
